<!--The content below is only a placeholder and can be replaced.-->

<router-outlet>
    <nav>
        <a routerLink="/login" routerLinkActive="active">Login</a>
        <a routerLink="/signup" routerLinkActive="active">Register</a>
    </nav>
</router-outlet>
