<div id="wrapper">
    <div id="topBar">
        <div class="container">

            <!-- right -->
            <ul class="top-links list-inline float-right">
                <li class="text-welcome hidden-xs-down">Welcome to Smarty, <strong>John Doe</strong></li>
                <li>
                    <a class="dropdown-toggle no-text-underline" data-toggle="dropdown" href="#"><i class="fa fa-user hidden-xs-down"></i> MY ACCOUNT</a>
                    <ul class="dropdown-menu float-right">
                        <li><a tabindex="-1" href="#"><i class="fa fa-history"></i> ORDER HISTORY</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="#"><i class="fa fa-bookmark"></i> MY WISHLIST</a></li>
                        <li><a tabindex="-1" href="#"><i class="fa fa-edit"></i> MY REVIEWS</a></li>
                        <li><a tabindex="-1" href="#"><i class="fa fa-cog"></i> MY SETTINGS</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="#"><i class="glyphicon glyphicon-off"></i> LOGOUT</a></li>
                    </ul>
                </li>
            </ul>
            <!-- left -->
            <ul class="top-links list-inline">
                <li class="hidden-xs-down"><a href="page-contact-1.html">CONTACT</a></li>
                <li>
                    <a class="dropdown-toggle no-text-underline" data-toggle="dropdown" href="#"><img class="flag-lang" src="assets/images/_smarty/flags/us.png" width="16" height="11" alt="lang" /> ENGLISH</a>
                    <ul class="dropdown-langs dropdown-menu">
                        <li>
                            <a tabindex="-1" href="#"><img class="flag-lang" src="assets/images/_smarty/flags/us.png" width="16" height="11" alt="lang" /> ENGLISH</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a tabindex="-1" href="#"><img class="flag-lang" src="assets/images/_smarty/flags/de.png" width="16" height="11" alt="lang" /> GERMAN</a>
                        </li>
                        <li>
                            <a tabindex="-1" href="#"><img class="flag-lang" src="assets/images/_smarty/flags/ru.png" width="16" height="11" alt="lang" /> RUSSIAN</a>
                        </li>
                        <li>
                            <a tabindex="-1" href="#"><img class="flag-lang" src="assets/images/_smarty/flags/it.png" width="16" height="11" alt="lang" /> ITALIAN</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle no-text-underline" data-toggle="dropdown" href="#">USD</a>
                    <ul class="dropdown-langs dropdown-menu">
                        <li><a tabindex="-1" href="#">USD</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="#">EUR</a></li>
                        <li><a tabindex="-1" href="#">GBP</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
    <div id="header" class="navbar-toggleable-md sticky clearfix">
        <!-- TOP NAV -->
        <header id="topNav">
            <div class="container">
                <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
                <!-- Logo -->
                <a class="logo float-left" href="index.html">
                    <img src="assets/images/_smarty/auction.png" alt="" />
                </a>
                <div class="navbar-collapse collapse float-right nav-main-collapse">
                    <nav class="nav-main">
                        <ul id="topMain" class="nav nav-pills nav-main">
                            <li class="dropdown" *ngFor="let item of Menu">
                                <!-- HOME -->
                                <a class="dropdown-toggle" href={{item.link}}>
                                    {{item.title}}
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <!-- /Top Nav -->

    </div>
    <!-- SEARCH HEADER -->
    <div class="search-box over-header">
        <!-- <a id="closeSearch" href="#" class="fa fa-remove"></a> -->
        <div class="container">

            <div class="search-box">
                <form action="page-search-result-1.html" method="get">
                    <div class="input-group">
                        <input type="text" name="src" placeholder="Search" class="form-control" />
                        <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                    </div>
                </form>
            </div>

        </div>
        <!-- BUTTONS -->
        <ul class="float-right nav nav-pills nav-second-main">

        </ul>
        <!-- /BUTTONS -->
    </div>
    <!-- /SEARCH HEADER -->
    <!-- FEATURED GRID -->
    <!-- <section class="featured-grid">
        <div class="container">

            <div class="row">

                <div class="col-sm-6">
                    <img src="assets/demo_files/images/shop/home/grid1.jpg" alt="" />
                    <div class="ribbon hidden-xs-down">
                        <div class="absolute">
                            <h2>87%</h2>
                            <h4>OFF</h4>
                        </div>
                    </div>
                    <div class="absolute bottom-right text-right">
                        <h1 class="text-white">
                            <em>HUGE</em>
                            <em class="fw-300 text-white">DISCOUNTS</em>
                        </h1>
                        <a class="btn btn-primary btn-sm mt-10" href="#">Explore Now &raquo;</a>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="relative">
                        <img src="assets/demo_files/images/shop/home/man_cat.jpg" alt="" />
                        <div class="absolute text-left">
                            <h2>Men</h2>
                            <p>
                                YOU DON'T WANT TO MISS!
                            </p>

                            <p class="font-lato mt-30 fs-16 hidden-sm hidden-xs-down">Donec tellus massa, tristique sit amet condim vel,<br /> facilisis quis sapien. Praesent id enim sit amet.</p>
                            <a class="btn btn-primary mt-20" href="#">Shop Now &raquo;</a>
                        </div>
                    </div>

                    <div class="relative">
                        <img src="assets/demo_files/images/shop/home/woman_cat.jpg" alt="" />
                        <div class="absolute text-right">
                            <h2>Women</h2>
                            <p>
                                YOU DON'T WANT TO MISS!
                            </p>

                            <p class="font-lato mt-30 fs-16 hidden-sm hidden-xs-down">Donec tellus massa, tristique sit amet condim vel,<br /> facilisis quis sapien. Praesent id enim sit amet.</p>
                            <a class="btn btn-primary mt-20" href="#">Shop Now &raquo;</a>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section> -->
    <!-- /FEATURED GRID -->



    <!-- INFO BAR -->
    <section class="info-bar info-bar-clean">
        <div class="container">

            <div class="row">

                <div class="col-sm-3">
                    <i class="glyphicon glyphicon-globe"></i>
                    <h3>FREE SHIPPING &amp; RETURN</h3>
                    <p>Free shipping on all orders over $99.</p>
                </div>

                <div class="col-sm-3">
                    <i class="glyphicon glyphicon-usd"></i>
                    <h3>MONEY BACK GUARANTEE</h3>
                    <p>100% money back guarantee.</p>
                </div>

                <div class="col-sm-3">
                    <i class="glyphicon glyphicon-flag"></i>
                    <h3>ONLINE SUPPORT 24/7</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>

                <div class="col-sm-3">
                    <i class="glyphicon glyphicon-heart"></i>
                    <h3><span class="countTo">9845</span> HAPPY CUSTOMERS</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>

            </div>

        </div>
    </section>
    <!-- /INFO BAR -->



    <!-- FEATURED -->
    <section>
        <div class="container">

            <h2 class="owl-featured b-0"><strong>FEATURED</strong> PRODUCTS</h2>
            <div class="owl-carousel featured m-0 owl-padding-10" data-plugin-options='{"singleItem": false, "items": "4", "stopOnHover":false, "autoPlay":4000, "autoHeight": false, "navigation": true, "pagination": false}'>

                <!-- item -->
                <div class="shop-item m-0">

                    <div class="thumbnail">
                        <!-- product image(s) -->
                        <a class="shop-item-image" href="shop-single-left.html">
                            <img class="img-fluid" src="assets/demo_files/images/shop/products/300x450/p13.jpg" alt="shop first image" />
                            <img class="img-fluid" src="assets/demo_files/images/shop/products/300x450/p14.jpg" alt="shop hover image" />
                        </a>
                        <!-- /product image(s) -->

                    </div>

                    <div class="shop-item-summary text-center">
                        <h2>Cotton 100% - Pink Shirt</h2>

                        <!-- rating -->
                        <div class="shop-item-rating-line">
                            <div class="rating rating-4 fs-13">
                                <!-- rating-0 ... rating-5 -->
                            </div>
                        </div>
                        <!-- /rating -->

                        <!-- price -->
                        <div class="shop-item-price">
                            <span class="line-through">$98.00</span> $78.00
                        </div>
                        <!-- /price -->
                    </div>

                    <!-- buttons -->
                    <div class="shop-item-buttons text-center">
                        <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus"></i> Add to Cart</a>
                    </div>
                    <!-- /buttons -->
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="shop-item m-0">

                    <div class="thumbnail">
                        <!-- product image(s) -->
                        <a class="shop-item-image" href="shop-single-left.html">
                            <!-- CAROUSEL -->
                            <div class="owl-carousel owl-padding-0 m-0" data-plugin-options='{"singleItem": true, "autoPlay": 3000, "navigation": false, "pagination": false, "transitionStyle":"fadeUp"}'>
                                <img class="img-fluid" src="assets/demo_files/images/shop/products/300x450/p5.jpg" alt="">
                                <img class="img-fluid" src="assets/demo_files/images/shop/products/300x450/p1.jpg" alt="">
                            </div>
                            <!-- /CAROUSEL -->
                        </a>
                        <!-- /product image(s) -->
                    </div>

                    <div class="shop-item-summary text-center">
                        <h2>Pink Dress 100% Cotton</h2>

                        <!-- rating -->
                        <div class="shop-item-rating-line">
                            <div class="rating rating-4 fs-13">
                                <!-- rating-0 ... rating-5 -->
                            </div>
                        </div>
                        <!-- /rating -->

                        <!-- price -->
                        <div class="shop-item-price">
                            $44.00
                        </div>
                        <!-- /price -->
                    </div>

                    <!-- buttons -->
                    <div class="shop-item-buttons text-center">
                        <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus"></i> Add to Cart</a>
                    </div>
                    <!-- /buttons -->
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="shop-item m-0">

                    <div class="thumbnail">
                        <!-- product image(s) -->
                        <a class="shop-item-image" href="shop-single-left.html">
                            <img class="img-fluid" src="assets/demo_files/images/shop/products/300x450/p2.jpg" alt="shop first image" />
                            <img class="img-fluid" src="assets/demo_files/images/shop/products/300x450/p12.jpg" alt="shop hover image" />
                        </a>
                        <!-- /product image(s) -->

                    </div>

                    <div class="shop-item-summary text-center">
                        <h2>Black Fashion Hat</h2>

                        <!-- rating -->
                        <div class="shop-item-rating-line">
                            <div class="rating rating-4 fs-13">
                                <!-- rating-0 ... rating-5 -->
                            </div>
                        </div>
                        <!-- /rating -->

                        <!-- price -->
                        <div class="shop-item-price">
                            <span class="line-through">$77.00</span> $65.00
                        </div>
                        <!-- /price -->
                    </div>

                    <!-- buttons -->
                    <div class="shop-item-buttons text-center">
                        <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus"></i> Add to Cart</a>
                    </div>
                    <!-- /buttons -->
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="shop-item m-0">

                    <div class="thumbnail">
                        <!-- product image(s) -->
                        <a class="shop-item-image" href="shop-single-left.html">
                            <img class="img-fluid" src="assets/demo_files/images/shop/products/300x450/p8.jpg" alt="shop first image" />
                        </a>
                        <!-- /product image(s) -->
                    </div>

                    <div class="shop-item-summary text-center">
                        <h2>Beach Black Lady Suit</h2>

                        <!-- rating -->
                        <div class="shop-item-rating-line">
                            <div class="rating rating-4 fs-13">
                                <!-- rating-0 ... rating-5 -->
                            </div>
                        </div>
                        <!-- /rating -->

                        <!-- price -->
                        <div class="shop-item-price">
                            $56.00
                        </div>
                        <!-- /price -->
                    </div>

                    <!-- buttons -->
                    <div class="shop-item-buttons text-center">
                        <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus"></i> Add to Cart</a>
                    </div>
                    <!-- /buttons -->
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="shop-item m-0">

                    <div class="thumbnail">
                        <!-- product image(s) -->
                        <a class="shop-item-image" href="shop-single-left.html">
                            <img class="img-fluid" src="assets/demo_files/images/shop/products/300x450/p7.jpg" alt="shop first image" />
                        </a>
                        <!-- /product image(s) -->
                    </div>

                    <div class="shop-item-summary text-center">
                        <h2>Town Dress - Black</h2>

                        <!-- rating -->
                        <div class="shop-item-rating-line">
                            <div class="rating rating-4 fs-13">
                                <!-- rating-0 ... rating-5 -->
                            </div>
                        </div>
                        <!-- /rating -->

                        <!-- price -->
                        <div class="shop-item-price">
                            $154.00
                        </div>
                        <!-- /price -->
                    </div>

                    <!-- buttons -->
                    <div class="shop-item-buttons text-center">
                        <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus"></i> Add to Cart</a>
                    </div>
                    <!-- /buttons -->
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="shop-item m-0">

                    <div class="thumbnail">
                        <!-- product image(s) -->
                        <a class="shop-item-image" href="shop-single-left.html">
                            <img class="img-fluid" src="assets/demo_files/images/shop/products/300x450/p6.jpg" alt="shop first image" />
                            <img class="img-fluid" src="assets/demo_files/images/shop/products/300x450/p14.jpg" alt="shop hover image" />
                        </a>
                        <!-- /product image(s) -->
                    </div>

                    <div class="shop-item-summary text-center">
                        <h2>Chick Lady Fashion</h2>

                        <!-- rating -->
                        <div class="shop-item-rating-line">
                            <div class="rating rating-4 fs-11">
                                <!-- rating-0 ... rating-5 -->
                            </div>
                        </div>
                        <!-- /rating -->

                        <!-- price -->
                        <div class="shop-item-price">
                            $167.00
                        </div>
                        <!-- /price -->
                    </div>

                    <!-- buttons -->
                    <div class="shop-item-buttons text-center">
                        <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus"></i> Add to Cart</a>
                    </div>
                    <!-- /buttons -->
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="shop-item m-0">

                    <div class="thumbnail">
                        <!-- product image(s) -->
                        <a class="shop-item-image" href="shop-single-left.html">
                            <img class="img-fluid" src="assets/demo_files/images/shop/products/300x450/p11.jpg" alt="shop hover image" />
                            <img class="img-fluid" src="assets/demo_files/images/shop/products/300x450/p3.jpg" alt="shop first image" />
                        </a>
                        <!-- /product image(s) -->
                    </div>

                    <div class="shop-item-summary text-center">
                        <h2>Black Long Lady Shirt</h2>

                        <!-- rating -->
                        <div class="shop-item-rating-line">
                            <div class="rating rating-0 fs-13">
                                <!-- rating-0 ... rating-5 -->
                            </div>
                        </div>
                        <!-- /rating -->

                        <!-- price -->
                        <div class="shop-item-price">
                            $128.00
                        </div>
                        <!-- /price -->
                    </div>

                    <!-- buttons -->
                    <div class="shop-item-buttons text-center">
                        <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus"></i> Add to Cart</a>
                    </div>
                    <!-- /buttons -->
                </div>
                <!-- /item -->

            </div>

        </div>
    </section>
    <!-- /FEATURED -->



    <!-- NEW PRODUCTS -->
    <section>
        <div class="container">

            <div class="heading-title heading-dotted">
                <h2 class="fs-20">NEW PRODUCTS</h2>
            </div>

            <ul class="shop-item-list row list-inline m-0">

                <!-- ITEM -->
                <li class="col-lg-2 col-sm-4">

                    <div class="shop-item">

                        <div class="thumbnail b-0 p-0">
                            <!-- product image(s) -->
                            <a class="shop-item-image" href="shop-single-left.html">
                                <img class="img-fluid" src="assets/demo_files/images/shop/home/products/noimg.jpg" alt="" />
                            </a>
                            <!-- /product image(s) -->

                            <!-- hover buttons -->
                            <div class="shop-option-over">
                                <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus fs-18"></i></a>
                            </div>
                            <!-- /hover buttons -->

                        </div>

                        <div class="shop-item-summary text-center">
                            <h2 class="fs-14">Blue Dress</h2>

                            <!-- rating -->
                            <div class="shop-item-rating-line">
                                <div class="rating rating-4 fs-11">
                                    <!-- rating-0 ... rating-5 -->
                                </div>
                            </div>
                            <!-- /rating -->

                            <!-- price -->
                            <div class="shop-item-price">
                                <span class="line-through">$98.00</span> $78.00
                            </div>
                            <!-- /price -->
                        </div>

                    </div>

                </li>
                <!-- /ITEM -->

                <!-- ITEM -->
                <li class="col-lg-2 col-sm-4">

                    <div class="shop-item">

                        <div class="thumbnail b-0 p-0">
                            <!-- product image(s) -->
                            <a class="shop-item-image" href="shop-single-left.html">
                                <img class="img-fluid" src="assets/demo_files/images/shop/home/products/6.jpg" alt="" />
                            </a>
                            <!-- /product image(s) -->

                            <!-- hover buttons -->
                            <div class="shop-option-over">
                                <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus fs-18"></i></a>
                            </div>
                            <!-- /hover buttons -->

                        </div>

                        <div class="shop-item-summary text-center">
                            <h2 class="fs-14">Mobile Phone</h2>

                            <!-- rating -->
                            <div class="shop-item-rating-line">
                                <div class="rating rating-4 fs-11">
                                    <!-- rating-0 ... rating-5 -->
                                </div>
                            </div>
                            <!-- /rating -->

                            <!-- price -->
                            <div class="shop-item-price">
                                $53.00
                            </div>
                            <!-- /price -->
                        </div>

                    </div>

                </li>
                <!-- /ITEM -->

                <!-- ITEM -->
                <li class="col-lg-2 col-sm-4">

                    <div class="shop-item">

                        <div class="thumbnail b-0 p-0">
                            <!-- product image(s) -->
                            <a class="shop-item-image" href="shop-single-left.html">
                                <img class="img-fluid" src="assets/demo_files/images/shop/home/products/7.jpg" alt="" />
                            </a>
                            <!-- /product image(s) -->

                            <!-- hover buttons -->
                            <div class="shop-option-over">
                                <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus fs-18"></i></a>
                            </div>
                            <!-- /hover buttons -->

                        </div>

                        <div class="shop-item-summary text-center">
                            <h2 class="fs-14">Black Shirt</h2>

                            <!-- rating -->
                            <div class="shop-item-rating-line">
                                <div class="rating rating-4 fs-11">
                                    <!-- rating-0 ... rating-5 -->
                                </div>
                            </div>
                            <!-- /rating -->

                            <!-- price -->
                            <div class="shop-item-price">
                                $68.00
                            </div>
                            <!-- /price -->
                        </div>

                    </div>

                </li>
                <!-- /ITEM -->

                <!-- ITEM -->
                <li class="col-lg-2 col-sm-4">

                    <div class="shop-item">

                        <div class="thumbnail b-0 p-0">
                            <!-- product image(s) -->
                            <a class="shop-item-image" href="shop-single-left.html">
                                <img class="img-fluid" src="assets/demo_files/images/shop/home/products/8.jpg" alt="" />
                            </a>
                            <!-- /product image(s) -->

                            <!-- hover buttons -->
                            <div class="shop-option-over">
                                <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus fs-18"></i></a>
                            </div>
                            <!-- /hover buttons -->

                        </div>

                        <div class="shop-item-summary text-center">
                            <h2 class="fs-14">Backpack</h2>

                            <!-- rating -->
                            <div class="shop-item-rating-line">
                                <div class="rating rating-4 fs-11">
                                    <!-- rating-0 ... rating-5 -->
                                </div>
                            </div>
                            <!-- /rating -->

                            <!-- price -->
                            <div class="shop-item-price">
                                $19.00
                            </div>
                            <!-- /price -->
                        </div>

                    </div>

                </li>
                <!-- /ITEM -->

                <!-- ITEM -->
                <li class="col-lg-2 col-sm-4">

                    <div class="shop-item">

                        <div class="thumbnail b-0 p-0">
                            <!-- product image(s) -->
                            <a class="shop-item-image" href="shop-single-left.html">
                                <img class="img-fluid" src="assets/demo_files/images/shop/home/products/9.jpg" alt="" />
                            </a>
                            <!-- /product image(s) -->

                            <!-- hover buttons -->
                            <div class="shop-option-over">
                                <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus fs-18"></i></a>
                            </div>
                            <!-- /hover buttons -->

                        </div>

                        <div class="shop-item-summary text-center">
                            <h2 class="fs-14">Blue Shoes</h2>

                            <!-- rating -->
                            <div class="shop-item-rating-line">
                                <div class="rating rating-4 fs-11">
                                    <!-- rating-0 ... rating-5 -->
                                </div>
                            </div>
                            <!-- /rating -->

                            <!-- price -->
                            <div class="shop-item-price">
                                $81.00
                            </div>
                            <!-- /price -->
                        </div>

                    </div>

                </li>
                <!-- /ITEM -->

                <!-- ITEM -->
                <li class="col-lg-2 col-sm-4">

                    <div class="shop-item">

                        <div class="thumbnail b-0 p-0">
                            <!-- product image(s) -->
                            <a class="shop-item-image" href="shop-single-left.html">
                                <img class="img-fluid" src="assets/demo_files/images/shop/home/products/10.jpg" alt="" />
                            </a>
                            <!-- /product image(s) -->

                            <!-- hover buttons -->
                            <div class="shop-option-over">
                                <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus fs-18"></i></a>
                            </div>
                            <!-- /hover buttons -->

                        </div>

                        <div class="shop-item-summary text-center">
                            <h2 class="fs-14">Water Watch</h2>

                            <!-- rating -->
                            <div class="shop-item-rating-line">
                                <div class="rating rating-4 fs-11">
                                    <!-- rating-0 ... rating-5 -->
                                </div>
                            </div>
                            <!-- /rating -->

                            <!-- price -->
                            <div class="shop-item-price">
                                $38.00
                            </div>
                            <!-- /price -->
                        </div>

                    </div>

                </li>
                <!-- /ITEM -->

                <!-- ITEM -->
                <li class="col-lg-2 col-sm-4">

                    <div class="shop-item">

                        <div class="thumbnail b-0 p-0">
                            <!-- product image(s) -->
                            <a class="shop-item-image" href="shop-single-left.html">
                                <img class="img-fluid" src="assets/demo_files/images/shop/home/products/11.jpg" alt="" />
                            </a>
                            <!-- /product image(s) -->

                            <!-- hover buttons -->
                            <div class="shop-option-over">
                                <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus fs-18"></i></a>
                            </div>
                            <!-- /hover buttons -->

                        </div>

                        <div class="shop-item-summary text-center">
                            <h2 class="fs-14">Bag</h2>

                            <!-- rating -->
                            <div class="shop-item-rating-line">
                                <div class="rating rating-4 fs-11">
                                    <!-- rating-0 ... rating-5 -->
                                </div>
                            </div>
                            <!-- /rating -->

                            <!-- price -->
                            <div class="shop-item-price">
                                $22.00
                            </div>
                            <!-- /price -->
                        </div>

                    </div>

                </li>
                <!-- /ITEM -->

                <!-- ITEM -->
                <li class="col-lg-2 col-sm-4">

                    <div class="shop-item">

                        <div class="thumbnail b-0 p-0">
                            <!-- product image(s) -->
                            <a class="shop-item-image" href="shop-single-left.html">
                                <img class="img-fluid" src="assets/demo_files/images/shop/home/products/1.jpg" alt="" />
                            </a>
                            <!-- /product image(s) -->

                            <!-- hover buttons -->
                            <div class="shop-option-over">
                                <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus fs-18"></i></a>
                            </div>
                            <!-- /hover buttons -->

                        </div>

                        <div class="shop-item-summary text-center">
                            <h2 class="fs-14">Woman Bag</h2>

                            <!-- rating -->
                            <div class="shop-item-rating-line">
                                <div class="rating rating-4 fs-11">
                                    <!-- rating-0 ... rating-5 -->
                                </div>
                            </div>
                            <!-- /rating -->

                            <!-- price -->
                            <div class="shop-item-price">
                                $15.00
                            </div>
                            <!-- /price -->
                        </div>

                    </div>

                </li>
                <!-- /ITEM -->

                <!-- ITEM -->
                <li class="col-lg-2 col-sm-4">

                    <div class="shop-item">

                        <div class="thumbnail b-0 p-0">
                            <!-- product image(s) -->
                            <a class="shop-item-image" href="shop-single-left.html">
                                <img class="img-fluid" src="assets/demo_files/images/shop/home/products/2.jpg" alt="" />
                            </a>
                            <!-- /product image(s) -->

                            <!-- hover buttons -->
                            <div class="shop-option-over">
                                <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus fs-18"></i></a>
                            </div>
                            <!-- /hover buttons -->

                        </div>

                        <div class="shop-item-summary text-center">
                            <h2 class="fs-14">Woman Hat</h2>

                            <!-- rating -->
                            <div class="shop-item-rating-line">
                                <div class="rating rating-4 fs-11">
                                    <!-- rating-0 ... rating-5 -->
                                </div>
                            </div>
                            <!-- /rating -->

                            <!-- price -->
                            <div class="shop-item-price">
                                $61.00
                            </div>
                            <!-- /price -->
                        </div>

                    </div>

                </li>
                <!-- /ITEM -->

                <!-- ITEM -->
                <li class="col-lg-2 col-sm-4">

                    <div class="shop-item">

                        <div class="thumbnail b-0 p-0">
                            <!-- product image(s) -->
                            <a class="shop-item-image" href="shop-single-left.html">
                                <img class="img-fluid" src="assets/demo_files/images/shop/home/products/3.jpg" alt="" />
                            </a>
                            <!-- /product image(s) -->

                            <!-- hover buttons -->
                            <div class="shop-option-over">
                                <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus fs-18"></i></a>
                            </div>
                            <!-- /hover buttons -->

                        </div>

                        <div class="shop-item-summary text-center">
                            <h2 class="fs-14">Cotton Cap</h2>

                            <!-- rating -->
                            <div class="shop-item-rating-line">
                                <div class="rating rating-4 fs-11">
                                    <!-- rating-0 ... rating-5 -->
                                </div>
                            </div>
                            <!-- /rating -->

                            <!-- price -->
                            <div class="shop-item-price">
                                $56.00
                            </div>
                            <!-- /price -->
                        </div>

                    </div>

                </li>
                <!-- /ITEM -->

                <!-- ITEM -->
                <li class="col-lg-2 col-sm-4">

                    <div class="shop-item">

                        <div class="thumbnail b-0 p-0">
                            <!-- product image(s) -->
                            <a class="shop-item-image" href="shop-single-left.html">
                                <img class="img-fluid" src="assets/demo_files/images/shop/home/products/4.jpg" alt="" />
                            </a>
                            <!-- /product image(s) -->

                            <!-- hover buttons -->
                            <div class="shop-option-over">
                                <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus fs-18"></i></a>
                            </div>
                            <!-- /hover buttons -->

                        </div>

                        <div class="shop-item-summary text-center">
                            <h2 class="fs-14">Sun Glasses</h2>

                            <!-- rating -->
                            <div class="shop-item-rating-line">
                                <div class="rating rating-4 fs-11">
                                    <!-- rating-0 ... rating-5 -->
                                </div>
                            </div>
                            <!-- /rating -->

                            <!-- price -->
                            <div class="shop-item-price">
                                $98.00
                            </div>
                            <!-- /price -->
                        </div>

                    </div>

                </li>
                <!-- /ITEM -->

                <!-- ITEM -->
                <li class="col-lg-2 col-sm-4">

                    <div class="shop-item">

                        <div class="thumbnail b-0 p-0">
                            <!-- product image(s) -->
                            <a class="shop-item-image" href="shop-single-left.html">
                                <img class="img-fluid" src="assets/demo_files/images/shop/home/products/0.jpg" alt="" />
                            </a>
                            <!-- /product image(s) -->

                            <!-- hover buttons -->
                            <div class="shop-option-over">
                                <a class="btn btn-light" href="shop-cart.html"><i class="fa fa-cart-plus fs-18"></i></a>
                            </div>
                            <!-- /hover buttons -->

                        </div>

                        <div class="shop-item-summary text-center">
                            <h2 class="fs-14">Bag</h2>

                            <!-- rating -->
                            <div class="shop-item-rating-line">
                                <div class="rating rating-4 fs-11">
                                    <!-- rating-0 ... rating-5 -->
                                </div>
                            </div>
                            <!-- /rating -->

                            <!-- price -->
                            <div class="shop-item-price">
                                $34.00
                            </div>
                            <!-- /price -->
                        </div>

                    </div>

                </li>
                <!-- /ITEM -->

            </ul>

        </div>
    </section>
    <!-- NEW PRODUCTS -->



    <!-- BRANDS -->
    <section class="section-xs">
        <div class="container">

            <!--
                controlls-over		= navigation buttons over the image
                buttons-autohide 	= navigation buttons visible on mouse hover only

                data-plugin-options:
                    "singleItem": true
                    "autoPlay": true (or ms. eg: 4000)
                    "navigation": true
                    "pagination": true
            -->
            <div class="text-center">
                <div class="owl-carousel m-0" data-plugin-options='{"singleItem": false, "autoPlay": 3000}'>
                    <div>
                        <img class="img-fluid" src="assets/demo_files/images/brands/1.jpg" alt="">
                    </div>
                    <div>
                        <img class="img-fluid" src="assets/demo_files/images/brands/2.jpg" alt="">
                    </div>
                    <div>
                        <img class="img-fluid" src="assets/demo_files/images/brands/3.jpg" alt="">
                    </div>
                    <div>
                        <img class="img-fluid" src="assets/demo_files/images/brands/4.jpg" alt="">
                    </div>
                    <div>
                        <img class="img-fluid" src="assets/demo_files/images/brands/5.jpg" alt="">
                    </div>
                    <div>
                        <img class="img-fluid" src="assets/demo_files/images/brands/6.jpg" alt="">
                    </div>
                    <div>
                        <img class="img-fluid" src="assets/demo_files/images/brands/7.jpg" alt="">
                    </div>
                    <div>
                        <img class="img-fluid" src="assets/demo_files/images/brands/8.jpg" alt="">
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- BRANDS -->
</div>
